<% if list.photo.present? %>
  <div class="card-trip">
    <img src= "<%=cl_image_path(list.photo.key)%>">
    <%= link_to list_path(list.id) do %>
      <div class="card-trip-infos">
        <h4><%= list.name %></h4>
      </div>
    </div>
  <% end %>
<% elsif list.movies.any? %>
  <div class="card-trip">
    <img src = "<%=list.movies.sample.poster_url%>">
    <%= link_to list_path(list.id) do %>
      <div class="card-trip-infos">
        <h4><%= list.name %></h4>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="card-trip">
    <%= link_to list_path(list.id) do %>
      <div class="card-trip-infos">
        <h2><%= list.name %></h2>
      </div>
    <% end %>
  </div>
<% end %>
