<div class="simple-form search">

<%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit class: "btn btn-dark mg-2" %>
<% end %>
<br>
<%= link_to root do %> <div class="btn btn-dark mg-2"> Go back </div> <% end %>
</div>
